.audioVisualizerContainer{
  width: 95%;
  height: 95%;
  display: inline-block;
  box-shadow: 5px 10px 10px black;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  min-width: 375px;
  min-height: 400px;
  text-align: center;
}
.audioControllerContainer{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.audioControllerBox{
  margin-bottom: 20px;
  display: inline-block;
}
.titleBox{
  position: absolute;
  top: 0px;
  width: 400px;
  left: calc(50% - 200px);
}
.titleBoxTitle{
  font-size: 20px;
}
.uploader{
  width: 200px;
  color: white;
  text-align: center;
  display: inline-block;
}
.switchesBox{
  display: flex;
  justify-content: space-between;
}
.switchBox{
  width: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.333);
}